<div class="cont">
  <img src="/app/assets/img/backgrounds/sfondo-1.jpg">
  <img src="/app/assets/img/backgrounds/sfondo-2.jpg">
  <img src="/app/assets/img/backgrounds/sfondo-3.jpg">
  <img src="/app/assets/img/backgrounds/sfondo-noise.jpg">
  <img src="/app/assets/img/components/frase-inglese-negativa.png">
  <img src="/app/assets/img/components/frase-inglese-positiva.png">
  <img src="/app/assets/img/components/frase-inglese-positiva-2.png">
  <img src="/app/assets/img/components/shh-1.png">
  <img src="/app/assets/img/components/shh-2.png">
  <img src="/app/assets/img/components/shh-3.png">
  <img src="/app/assets/img/components/shh-4.png">
</div>