
<router-outlet class="router-flex"></router-outlet>

<div style="position: absolute; opacity: 0; width: 0; height: 0; overflow: hidden">
    <app-img-preload></app-img-preload>
</div>

<!--super pecionata da sistemare-->
<!-- 
<div>

  <div [hidden]="isLoading() === false">
    <app-loader></app-loader>
  </div>

  <div class="page" [hidden]="isLoading() === true">

    <div class="content">
      <app-header class="header"></app-header>
      <router-outlet class="router-flex" #o="outlet"></router-outlet>
    </div>

    <div class="footer">
      <app-footer></app-footer>
    </div>

  </div>

</div> -->
