
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    flex: 0 1 auto;
  }
  
  .footer {
    flex-shrink: 0;
  }
  

  .content {
    background-image: url('/assets/img/backgrounds/sfondo_pecore.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }