.profile-img-card {
  width: 52px;
  height: 52px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

#spiegazione {
  width: 360px;
  height: 280px;
  background-image: url('/assets/img/components/spiegazione.png');
  background-size: cover;

  .dbAvg {
    padding-left: 36px;
    padding-top: 206px;

    .digit {
      padding-left: 30px;
      font-size: 36px;
    }
  }
}

#shh-counter {
  width: 350px;
  height: 100px;
  padding-left: 150px;
  padding-top: 24px;
  background-image: url('/assets/img/components/shh-counter-2.png');
  background-size: cover;

  .digit {
    padding-left: 26px;
    font-size: 36px;
  }
}