
<div class="container-fluid align-self-start flex-fill">
  <div class="row align-items-start justify-content-center">
    <div class="col-md-10">
      <app-people-communication></app-people-communication>
    </div>
  </div>
</div>

<div class="container-fluid justify-content-center align-self-end">

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <app-sound-graph></app-sound-graph>
    </div>
  </div>

</div>

<div class="container-fluid justify-content-center align-self-end mt-2">

  <div class="row justify-content-center">
      <div class="col">
        <div class="carousel slide text-center" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-block w-100">
                  <img width="1200px" height="110px" src="/app/assets/img/banners/utra-banner-2.PNG">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                    <img width="1200px" height="110px" src="/app/assets/img/banners/banner-kappa.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                    <img width="1200px" height="110px" class="w-100" src="/app/assets/img/banners/banner-monica.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-block w-100">
                    <img width="1200px" height="110px" class="w-100" src="/app/assets/img/banners/banner-artissima.jpg">
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>