<div class="container h-100 align-self-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- <div class="card p-3">
        <h3 class="text-center">Chat</h3>
        <label>Nome</label>
        <input [(ngModel)]="user" class="form-control">
  
        <label>Messaggio</label>
        <textarea [(ngModel)]="message" rows="5" class="form-control"></textarea>
  
        <div class="text-center my-2">
            <button class="btn btn-alert" (click)="sendMessage()">Invia</button>
        </div>
      </div>

      <div class="my-4"></div> -->

      <div class="card p-3 text-center">
        <h3>Non riesci a dormire? Invia uno shh</h3>
        <button class="btn btn-success btn-lg" (click)="sendShh()">#Shhhhh</button>

        <div class="alert alert-info text-center my-4" *ngIf="totShh > 0">
          +{{totShh}} Shh
        </div>
      </div>
    </div>
  </div>
</div>